html {
  background-color: black; /* is also set inline, this acts as backup if inline csp is not accepted */
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
