/* Neutralization of HTML elements */
/* https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss */
/* https://github.com/necolas/normalize.css/blob/master/normalize.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

canvas {
  vertical-align: middle;

  /* Sharper zoom */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
