version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "10:00"
      timezone: "Europe/Stockholm"
    groups:
      github-actions:
        patterns:
          - "*"
      
  - package-ecosystem: "dotnet-sdk"
    directory: "/src"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "10:00"
      timezone: "Europe/Stockholm"
          
  - package-ecosystem: "nuget"
    directory: "/src"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "10:00"
      timezone: "Europe/Stockholm"
    groups:
      api:
        patterns:
          - "*"
        exclude-patterns:
          - "Microsoft.ApplicationInsights.WorkerService"
          
  - package-ecosystem: "npm"
    directory: "/src/Client"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "10:00"
      timezone: "Europe/Stockholm"
    open-pull-requests-limit: 10
    groups:
      client-development:
        dependency-type: "development"
        exclude-patterns:
          - "eslint"
          - "eslint-plugin-sonarjs"
        
  - package-ecosystem: "npm"
    directory: "/src/Plugins"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "10:00"
      timezone: "Europe/Stockholm"
    ignore:
      - dependency-name: "*"
