# https://editorconfig.org

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion

[*.{js,cjs,mjs}]
indent_size = 2

[*.{html,css}]
indent_size = 2

[*.{json,yml}]
indent_size = 2

[*.*proj]
indent_size = 2

[dependabot.yml]
charset = utf-8
