# https://editorconfig.org

### File settings ###

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# files should use BOM for better compatibility with Visual Studio
# BOM is not liked in many other ecosystems

[*.cs]
charset = utf-8-bom

[*.{js,cjs,mjs}]
indent_size = 2

[*.{html,css}]
indent_size = 2

[*.{json,yml}]
indent_size = 2

[*.{*proj,props,targets}]
charset = utf-8-bom
indent_size = 2

[NuGet.Config]
charset = utf-8-bom
indent_size = 2

### Code rules ###

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = none
