# https://github.com/browserslist/browserslist
# https://browserslist.dev/?q=bGFzdCAyIHZlcnNpb25zIGFuZCBub3QgZGVhZCBvciA%2BIDAuMDEl

[all]
last 2 versions and not dead or > 0.01%

[modern]
last 2 versions and not dead or > 0.01% and supports es6-module

[legacy]
last 2 versions and not dead or > 0.01% and not supports es6-module

[eslint-plugin-compat]
last 2 versions and not dead or > 0.01% and not IE <= 10 and not Firefox <= 56 and not op_mini all
