# https://github.com/browserslist/browserslist
# https://browserslist.dev/?q=bGFzdCAyIHZlcnNpb25zIGFuZCBub3QgZGVhZCBhbmQgPiAwLjAxJSBvciA%2BIDAuMSU

[all]
last 2 versions and not dead and > 0.01% or > 0.1%

[modern]
last 2 versions and not dead and > 0.01% or > 0.1% and supports es6-module

[legacy]
last 2 versions and not dead and > 0.01% or > 0.1% and not supports es6-module

[all-exclude-opera-mini]
last 2 versions and not dead and > 0.01% or > 0.1% and not op_mini all
