name: Pull Request

concurrency:
  group: pull-request-${{ github.event.number }}
  cancel-in-progress: true

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  actions: read
  contents: read
  pull-requests: write

jobs:
  build_test_and_deploy:
    name: Build, Test and Deploy
    uses: ./.github/workflows/reusable-build-test-deploy.yml
    secrets: inherit
